<a href="{{ product.url }}" class="plp-card-link">
<div class="wrapper">
  <div class="plp-card-image-wrapper">
    <img src="{{ product.featured_media | image_url }}" alt="{{ product.title }}">
  </div>
    <div class="plp-card-caption">
      <div>
      <p class="plp-card-title">{{ product.title }}</p>
      <p class="plp-card-subtitle">
        {%- if product.metafields.custom_fields.subtitle -%}
        {{ product.metafields.custom_fields.subtitle }}
        {%- else -%}
        Sweet Pickle Books
        {%- endif -%}
      </p>        
      </div>

      <p class="plp-card-price">{{product.price | money_without_trailing_zeros }}</p>
      </div>
</div>
</a>
<style>
.plp-card-link {
  text-decoration: none;
  display: block;
  color: var(--main-color);
  width: calc((100vw / 3) - 2rem);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
}

.plp-card-image-wrapper {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}
.wrapper img {
  height: 18em;
}

.wrapper .plp-card-caption {
  display: flex;
  justify-content: space-between;
}
.wrapper .plp-card-caption p {
  margin: 0;
  padding: 0;  
}

.plp-card-title {
  font-family: var(--serif);
  font-style: italic;
  font-size: 150%;
}
.plp-card-subtitle {
  font-family: var(--mono);
  font-size: 80%;
  line-height: .6;
}

.plp-card-price {
  font-family: var(--serif);
  font-style: italic;
  font-size: 150%;
  font-weight: bold;
}

</style>