{% comment %}theme-check-disable TemplateLength{% endcomment %}

{{ 'sp-book-product.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<section class="sp-book-product">
  <div id="ProductInfo-{{ section.id }}" class="product__info-container">
    {%- assign product_form_id = 'product-form-' | append: section.id -%}

    <h1 class="product__title">
      {{ product.title | escape }}
    </h1>

    {%- if product.metafields.custom_fields.subtitle != blank -%}
      <p class="subtitle">
        {{ product.metafields.custom_fields.subtitle }}
      </p>
      {%- else -%}
      <p class="subtitle">Sweet Pickle Books</p>
    {%- endif -%}

    {%- if product.description != blank -%}
      <div>
        {{ product.description }}
      </div>
    {%- endif -%}

    <div class="no-js-hidden" id="price-{{ section.id }}">
      {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
    </div>

    <product-form class="product-form">
      {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        <div class="product-form__buttons">
          <button
            type="submit"
            name="add"
            class="product-form__submit button button--full-width"
          {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
          >
              {%- if product.selected_or_first_available_variant.available -%}
                Add to cart
              {%- else -%}
                Sold out
              {%- endif -%}
          </button>

        </div>
      {%- endform -%}
    </product-form>
    <ul>
      <li>other info</li>
      <li>for book product</li>
      <li>such as number of pages</li>
    </ul>
  </div>
  
  <div class="sp-product-image-wrapper">
    <img src="{{ product.featured_media | image_url }}" alt="{{ product.title }}">
  </div>

  {%- render 'cart-notification' -%}
</section>