<!-- {{ 'section-contact-form.css' | asset_url | stylesheet_tag }} -->

<div class="contact page-width page-width--narrow spaced-section">
  {%- form 'contact', id: 'ContactForm' -%}
    {%- if form.posted_successfully? -%}
      <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
    {%- elsif form.errors -%}
      <div class="form__message">
        <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
      </div>
      <ul class="form-status-list caption-large" role="list">
        <li>
          <a href="#ContactForm-email" class="link">
            {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
          </a>
        </li>
      </ul>
    {%- endif -%}
    <!-- <div class="contact__fields">
      <div class="field">
        <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
        <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
      </div>
      <div class="field field--with-error">
        <input
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          class="field__input"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="{{ 'templates.contact.form.email' | t }}"
        >
        <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
        {%- if form.errors contains 'email' -%}
          <small class="contact__field-error" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
          </small>
        {%- endif -%}
      </div>
    </div>
    <div class="field">
      <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
      <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
    </div>
    <div class="field">
      <textarea
        rows="10"
        id="ContactForm-body"
        class="text-area field__input"
        name="contact[{{ 'templates.contact.form.comment' | t }}]"
        placeholder="{{ 'templates.contact.form.comment' | t }}"
      >
        {{- form.body -}}
      </textarea>
      <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
    </div> -->

    <div class="field">      <label class="field__label" for="ContactForm-phone">Your Email*</label>

      <input type="email" class="field__input" autocomplete="email" name="contact" value="" placeholder="Your Answer">
    </div>

    <div class="field">   <label class="field__label">
        What book(s) can we help you find?*
        <span>Please put any helpful information here: author, title, edition, format, etc.</span>
      </label>
      <input type="text" class="field__input" name="contact" value="" placeholder="Your Answer">
   
    </div>
    <div class="field"><label class="field__label">
What is your budget?
      </label>
      <input type="text" class="field__input" name="contact" value="" placeholder="Your Answer">
      
    </div>
    <div class="field">      <label class="field__label">
If you chose SHIP, please provide your mailing address:*      </label>

      <input type="text" class="field__input" name="contact" value="" placeholder="Your Answer">
    </div>
    <div class="field">
      <label class="field__label">Name *</label> 
      <input type="text" class="field__input" name="contact" value="" placeholder="Your Answer">   
    </div>
    <div class="field">      
      <label class="field__label">Phone Number *</label> 
      <input type="text" class="field__input" name="contact" value="" placeholder="Your Answer">
    </div>
    <div class="field">      
      <label class="field__label">Questions & Comments</label> 
      <input type="text" class="field__input" name="contact" value="" placeholder="Your Answer">
    </div>

    <div class="contact__button">
      <button type="submit" class="button">Submit Form</button>
    </div>
  {%- endform -%}
</div>
<style>
::placeholder {
  text-transform: uppercase;
  font-family: var(--mono);
  color: #C4C4C4;
  font-style: normal;
}
#ContactForm {
  margin: 5rem;
}
#ContactForm label {
  font-family: var(--serif);
  font-style: italic;
  color: var(--main-color);
  font-size: var(--font-size-l);
  display: block
}
#ContactForm label span {
  font-family: var(--mono);
  font-style: normal;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 16px;
  display: block
}
</style>
{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
